MONGO_URI=mongodb://mongo:27017/profiles

PROFILE_CRUD_PORT=3001
PROFILE_QUERY_PORT=3000
PROFILE_CRUD_BASE_URL=http://profile-crud:3001

BASIC_AUTH_USER=REPLACE_WITH_BASIC_AUTH_USER
BASIC_AUTH_PASSWORD=REPLACE_WITH_STRONG_BASIC_AUTH_PASSWORD

KEY_PAIR_ID=REPLACE_WITH_KEY_PAIR_ID
KEY_PAIR_SECRET=REPLACE_WITH_STRONG_KEY_PAIR_SECRET

TOKEN_SECRET=REPLACE_WITH_STRONG_TOKEN_SECRET
